/* Footer.css */

.footer-container {
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
  }
  

  .underline{
    text-decoration: none;
  }