*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'AR One Sans', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}